
<div class="p-6">
    <div class="flex justify-between">
        <p class="font-bold uppercase my-auto">
            Manage My Account
        </p>
        <p class="text-2xl">
            X
        </p>
    </div>
</div>


<div class="flex w-screen border-b-2 pb-6 mt-12 border-gray-400">
    <p class="text-md ml-8 font-light">
        Manage My Alias
        <span class="text-2xl ml-4">></span>
    </p>
</div>

<div class="flex w-screen border-b-2 pb-6 mt-4 border-gray-400">
    <p class="text-md ml-8 font-light">
        Update Password
        <span class="text-2xl ml-4">></span>
    </p>
</div>

<div class="flex w-screen border-b-2 pb-6 mt-4 border-gray-400">
    <p class="text-md ml-8 font-light">
        Update Personal Information
        <span class="text-2xl ml-4">></span>
    </p>
</div>



<p class="font-semibold text-lg text-pink-600 py-12 text-center absolute bottom-0 w-full">
    Delete My Account
</p>


<p class="text-sm font-medium text-gray-600 py-12 text-center absolute -bottom-8 w-full">
    Warning - This Can Not Be Undone
</p>