<p class="text-sm p-4">Org Admins</p>

<p class="text-sm ml-12">Org Quick Set Up</p>

<div class="ring-2 ring-gray-200 mx-2 pt-2 mt-6 space-y-8 pb-8">
    <p class="uppercase font-medium text-center">organization details</p>

    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Organization Name</label>
        <div class="mt-1">
            <input type="text" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Enter Org Name">
        </div>
    </div>

    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Organization Email</label>
        <div class="mt-1">
            <input type="text" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Enter Org Email">
        </div>
    </div>

    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Organization Point of Contact Name</label>
        <div class="mt-1">
            <input type="text" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Contact Name">
        </div>
    </div>

    <div class="px-8">
        <label for="comment" class="block text-sm leading-6 text-gray-700">Organization Address</label>
        <div class="mt-2">
            <textarea rows="4" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Enter Organization Address"></textarea>
        </div>
    </div>

    <div class="flex justify-center">
        <button class="w-10/12 rounded-full bg-gray-600 text-white py-3">
            Create Org
        </button>
    </div>
</div>


<p class="text-sm ml-12 font-medium pt-8">Event Quick Set Up</p>

<div class="ring-2 ring-gray-200 mx-2 pt-2 mt-6 space-y-8 pb-8">
    <p class="uppercase font-medium text-center">event details</p>

    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Event Name</label>
        <div class="mt-1">
            <input type="text" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Name of Event">
        </div>
    </div>

    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Event Dates</label>
        <div class="mt-1">
            <input type="text" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Enter Event Dates">
        </div>
    </div>

    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Event Main Location</label>
        <div class="mt-1">
            <input type="text" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Enter Main Location">
        </div>
    </div>

    <div class="px-8">
        <label for="comment" class="block text-sm leading-6 text-gray-700">Event Description</label>
        <div class="mt-2">
            <textarea rows="4" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Describe Event"></textarea>
        </div>
    </div>

    <div class="flex justify-center">
        <button class="w-10/12 rounded-full bg-gray-600 text-white py-3">
            Create Event
        </button>
    </div>
</div>

<p class="text-sm ml-12 font-medium pt-8">Journey Quick Set Up</p>

<div class="ring-2 ring-gray-200 mx-2 pt-2 mt-6 space-y-8 pb-8 mb-12">
    <p class="uppercase font-medium text-center">journey details</p>

    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Journey Name</label>
        <div class="mt-1">
            <input type="text" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Enter Journey Title">
        </div>
    </div>


    <div class="px-8">
        <label for="comment" class="block text-sm leading-6 text-gray-700">Journey Description</label>
        <div class="mt-2">
            <textarea rows="4" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Paragraph Input"></textarea>
        </div>
    </div>

    <div class="px-8">
        <p class="text-sm text-gray-700 pb-4">
            # of badges required for this Journey?
        </p>
        <button class="w-20 h-12 ring-2 ring-gray-400 rounded-lg bg-gray-100"></button>
    </div>

    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Badge 1 Title</label>
        <div class="mt-1">
            <input type="text" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" placeholder="Enter Badge Title">
        </div>
    </div>

    <div class="px-8 grid grid-cols-2">
        <div class="bg-gray-700 relative">
            <img class="p-12" src="/assets/images/ImgPlaceholder.svg" />
            <p class="absolute bottom-4 px-2 text-white left-4"> Upload Image</p>
        </div>

        <p class="text-sm px-2 my-auto text-gray-500">
            Upload badge image for Journey badge. Upload .png or .jpg formats.
            Please keep file size under 150px.
        </p>
    </div>

    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Connect badge QR code</label>
        <div class="mt-1">
            <input type="text" class="block w-full text-xs rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" 
                    placeholder="Select location specific QR for this badge">
        </div>
    </div>
    
    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Badge 2 Title</label>
        <div class="mt-1">
            <input type="text" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" 
                    placeholder="Enter Badge Title">
        </div>
    </div>

    <div class="px-8 grid grid-cols-2">
        <div class="bg-gray-700 relative">
            <img class="p-12" src="/assets/images/ImgPlaceholder.svg" />
            <p class="absolute bottom-4 px-2 text-white left-4"> Upload Image</p>
        </div>

        <p class="text-sm px-2 my-auto text-gray-500">
            Upload badge image for Journey badge. Upload .png or .jpg formats.
            Please keep file size under 150px.
        </p>
    </div>
    
    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Connect badge QR code</label>
        <div class="mt-1">
            <input type="text" class="block w-full text-xs rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" 
                    placeholder="Select location specific QR for this badge">
        </div>
    </div>
    
    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Completed Journey Prize</label>
        <div class="mt-1">
            <input type="text" class="block w-full rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" 
                    placeholder="Enter Journey Title">
        </div>
    </div>

    <div class="px-8">
        <label for="text" class="block text-sm leading-6 text-gray-700">Connect badge QR code</label>
        <div class="mt-1">
            <input type="text" class="block w-full text-xs rounded-md border-0 py-3 text-gray-900 shadow-sm ring-2 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-gray-100" 
                    placeholder="Select location specific QR for prize location">
        </div>
    </div>

    <div class="flex justify-center mt-4">
        <button class="w-10/12 rounded-full bg-gray-600 text-white py-3">
            Create Journey
        </button>
    </div>
</div>
