<footer class="bg-slate-700 text-white">
    <p>footer works!</p>
    <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">

        <nav class="-mb-6 columns-1 text-center sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
          <div class="pb-6">
            <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Home</a>
          </div>
          <div class="pb-6">
            <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Map</a>
          </div>
          <div class="pb-6">
            <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Profile</a>
          </div>
          <div class="pb-6">
            <a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Connecting</a>
          </div>
        </nav>
    </div>
</footer>
