<!-- <footer class="bg-blue-900 text-white fixed bottom-0 w-full"> -->
<footer class="bg-blue-900 text-white bottom-0  w-full">
    <div class="mx-auto max-w-7xl overflow-hidden py-6 lg:px-8">

        <nav class="-mb-6 columns-1 text-center grid grid-cols-4" aria-label="Footer">
          <div class="pb-6">
            <a title="home page" href="#" class="">
              <img alt="home icon" class="w-8 h-auto mx-auto" src="/assets/images/onboarding-images/home.png" />
            </a>
          </div>
          <div class="pb-6">
            <a title="" href="#" class="">
              <img alt="map icon" class="w-10 h-auto mx-auto" src="/assets/images/onboarding-images/quest.png" />
            </a>
          </div>
          <div class="pb-6">
            <a title="" href="#" class="">
              <img alt="id icon" class="w-8 h-auto mx-auto" src="/assets/images/onboarding-images/biotool.png" />
            </a>
          </div>
          <div class="pb-6">
            <a title="" href="#" class="">
              <img alt="comment icon" class="w-8 h-auto mx-auto" src="/assets/images/onboarding-images/connections.png" />
            </a>
          </div>
        </nav>
    </div>
</footer>
