<p class="uppercase text-4xl font-medium text-center mt-12">
    event name
</p>

<div class="font-light text-xl text-center mt-2">
    <p>Date 1 - Date 2</p>    
    <p>Location</p>
</div>


<div class="bg-gray-200 p-12 font-light mt-6">
    <p>
        Cupcake ipsum dolor sit amet macaroon jelly beans. Wafer
        danish bsicuit shortbread chupa chups. Jelly tart jujubes
        biscuit cake pastry cake candy danish...
    </p>
    <p class="font-medium text-right">More ></p>
</div>

<div class="gap-y-4 grid grid-cols-1 justify-items-center my-12 pb-32">
    <button class="text-white py-4 w-80 bg-gray-500 rounded-full">
        Schedule
    </button>
    
    <button class="text-white py-4 w-80 bg-gray-500 rounded-full">
        Quests
    </button>

    <button class="text-white py-4 w-80 bg-gray-500 rounded-full">
        Vendors
    </button>

    <button class="text-white py-4 w-80 bg-gray-500 rounded-full">
        Connections
    </button>

    <button class="text-white py-4 w-80 bg-gray-500 rounded-full">
        Stats
    </button>
    
</div>
