
<div class="bg-patchwrq p-4 rounded-b-3xl bg-cover bg-center " style="background-image: url('/assets/images/pw-background.jpg');">
    <div class="flex justify-center">
        <div>
            <img class="mx-auto mb-4" src="/assets/images/John.png" />
            <p class="text-2xl mb-4 text-patchwrq uppercase">John Bianchi</p>
        </div>
    </div>

    <div class="w-40 mx-auto relative">
        <div class="flex justify-between absolute top-1">
            <img class="w-10 h-10 mr-2" src="/assets/images/onboarding-images/hXktFX.tif.png" />
            <img class="w-10 h-10 mr-2" src="/assets/images/onboarding-images/jd5QOo.tif.png" />
            <img class="w-10 h-10 mr-2" src="/assets/images/onboarding-images/1Lbg0V.tif.png" />
            <img class="w-10 h-10"      src="/assets/images/onboarding-images/pLlDTh.tif.png" />
        </div>
    </div>
</div>


<!-- About Me section-->
<div class="pb-4 pt-12 ">
    <img class="h-48 p-4 ring-1 rounded-lg mx-auto" src="/assets/images/onboarding-images/de4ZAy.tif.png" />
</div>
<div class="w-9/12 mx-auto mt-8 space-y-6 text-patchwrq">
    <div class="ring-4 bg-patchwrq ring-gray-900 truncate shadow-md  text-center py-3 rounded-full">
        <p class="w-56 mx-auto truncate">https://www.linkedin.com/in/bianchijohn/</p>
    </div>
    <div class="ring-4 bg-patchwrq ring-gray-900 shadow-md text-center py-3 rounded-full ">
        <p class="w-56 mx-auto truncate">www.circlepass.io/patchwrq</p>
    </div>
    <div class="ring-4 bg-patchwrq ring-gray-900 shadow-md text-center py-3 rounded-full">
        <p class="w-56 mx-auto truncate">https://www.circlepass.io/quest</p>
    </div>
</div>

<!-- Badges -->
<div class="grid grid-cols-3 gap-4 w-10/12 mx-auto mt-12 mb-10">
    <div class="flex flex-col items-center">
        <div class="relative shadow-2xl w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
            </div>
            <div class="text-center w-full text-white z-30">
                <div class="text-center w-full text-white z-30">
                    <img class="w-auto h-12 mx-auto " src="/assets/images/onboarding-images/events.png" />
                </div>
            </div>
        </div>
        <p class="text-center text-sm pt-1 w-full">My Quest</p>
    </div>

    <div class="flex flex-col items-center">
        <div class="relative shadow-2xl w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
            </div>
            <div class="text-center w-full text-white z-30">
                <img class="w-auto h-12 mx-auto mt-3" src="/assets/images/onboarding-images/badges.png" />
            </div>
        </div>
        <p class="text-center text-sm pt-1 w-full">My Badges</p>
    </div>

    <div class="flex flex-col items-center">
        <div class="relative shadow-2xl w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
            </div>
            <div class="text-center w-full text-white z-30">
                <div class="text-center w-full text-white z-30">
                    <img class="w-auto h-16 mx-auto mt-3" src="/assets/images/onboarding-images/rewards.png" />
                </div>
            </div>
        </div>
        <p class="text-center text-sm pt-1 w-full">My Rewards</p>
    </div>
</div>
