
<div class="bg-patchwrq p-4 rounded-b-3xl bg-cover bg-center " style="background-image: url('/assets/images/pw-background.jpg');">
    <div class="flex justify-center">
        <div>
            <img class="mx-auto mb-4" src="/assets/images/John.png" />
            <p class="text-2xl mb-4 text-patchwrq uppercase">John Bianchi</p>
        </div>
    </div>

    <div class="w-48 mx-auto relative">
        <div class="grid grid-cols-4 gap-2 absolute top-1">
            <a class="" title="facebook" href="https://www.facebook.com/">
                <img alt="facebook icon" class="w-10 h-10 mr-2" src="/assets/images/onboarding-images/Facebook.png" />
            </a>
            <a class="" title="linkedin" href="https://www.linkedin.com/in/bianchijohn/">
                <img alt="linkedin icon" class="w-10 h-10 mr-2" src="/assets/images/onboarding-images/Linkedin.tif.png" />
            </a>
            <a class="" title="x icon" href="https://x.com/">
                <img alt="x icon" class="w-10 h-10 mr-2" src="/assets/images/onboarding-images/X.tif.png" />
            </a>
            <a class="" alt="instagram icon" title="instagram" href="https://www.instagram.com/">
            <img class="w-10 h-10"src="/assets/images/onboarding-images/Instagram.tif.png" />
            </a>
        </div>
    </div>
</div>


<!-- About Me section-->
<div class="pb-4 pt-12 ">
    <img alt="qr-code for John Bianchi's profile" class="h-48 p-4 ring-1 rounded-lg mx-auto" src="/assets/images/onboarding-images/de4ZAy.tif.png" />
</div>
<div class="w-9/12 mx-auto mt-8 space-y-6 text-patchwrq">
    <button class="w-full ring-4 bg-patchwrq ring-gray-900 truncate shadow-md  text-center py-3 rounded-full">
        <p class="w-56 mx-auto truncate">https://www.linkedin.com/in/bianchijohn/</p>
    </button>
    <div class="ring-4 bg-patchwrq ring-gray-900 shadow-md text-center py-3 rounded-full ">
        <p class="w-56 mx-auto truncate">www.circlepass.io/patchwrq</p>
    </div>
    <div class="ring-4 bg-patchwrq ring-gray-900 shadow-md text-center py-3 rounded-full">
        <p class="w-56 mx-auto truncate">https://www.circlepass.io/quest</p>
    </div>
</div>

<!-- Badges -->
<div class="grid grid-cols-3 gap-4 w-10/12 mx-auto mt-12 mb-10">
    <button class="flex flex-col items-center">
        <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
            </div>
            <div class="text-center w-full text-white z-30">
                <div class="text-center w-full text-white z-30">
                    <img alt="map icon" class="w-auto h-14 mt-2 mx-auto " src="/assets/images/onboarding-images/quest.png" />
                </div>
            </div>
        </div>
        <p class="text-center text-sm pt-1 w-full">My Quest</p>
    </button>

    <button class="flex flex-col items-center">
        <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
            </div>
            <div class="text-center w-full text-white z-30">
                <img alt="ticket icon" class="w-auto h-12 mx-auto mt-3" src="/assets/images/onboarding-images/badges.png" />
            </div>
        </div>
        <p class="text-center text-sm pt-1 w-full">My Badges</p>
    </button>

    <button class="flex flex-col items-center">
        <div class="relative shadow-2xl shadow-black/50 w-24 h-24 flex items-center justify-center rounded-full bg-blue-900 ring-2 ring-white">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-12 h-12 bg-blue-600 blur-md rounded-full"></div>
            </div>
            <div class="text-center w-full text-white z-30">
                <div class="text-center w-full text-white z-30">
                    <img alt="checkmark icon" class="w-auto h-16 mx-auto mt-3" src="/assets/images/onboarding-images/rewards.png" />
                </div>
            </div>
        </div>
        <p class="text-center text-sm pt-1 w-full">My Rewards</p>
    </button>
</div>
