<app-header></app-header>

<h1 class="text-3xl font-bold underline">
  Hello from Biotool!
</h1>


<li><a routerLink="/guest" routerLinkActive="active" ariaCurrentWhenActive="page" >guest profile</a></li>
<li><a routerLink="/sitemap" routerLinkActive="active" ariaCurrentWhenActive="page" >sitemap</a></li>
<li><a routerLink="/guest-sign-in" routerLinkActive="active" ariaCurrentWhenActive="page" >guest-sign-in</a></li>
<li><a routerLink="/guest-sign-up" routerLinkActive="active" ariaCurrentWhenActive="page" >guest-sign-up</a></li>

<hr>
.
<router-outlet></router-outlet>
.
<hr>
<app-footer></app-footer> 