<div class="w-32 h-32 mx-auto mt-16 rounded-xl bg-gray-900">
</div>

<h2 class="uppercase mt-16 text-2xl text-center font-bold">
    Sign Up
</h2>
<p class="text-center font-light mt-2">
Access your account
</p>

<div class="mt-6 w-9/12 shadow mx-auto bg-gray-600 rounded-full text-sm text-center text-white py-3">
    Continue with Facebook
</div>

<div class="mt-4 w-9/12 shadow mx-auto bg-gray-600 rounded-full text-sm text-center text-white py-3">
    Continue with Google
</div>

<p class="mt-12 text-center font-medium">
    Do you have an account?
</p>

<div class="mt-4 w-9/12 shadow mx-auto bg-gray-300 rounded-full text-sm ring-1 ring-gray-700 text-center font-bold text-gray-700 py-3">
    Login
</div>

<p class="text-center px-20 text-xs mt-8 ">
    By signing up, you accept Patchwrq's
    Terms of Service and Privacy Policy
</p>