
<div>

    <div class="flex w-10/12 mx-auto justify-between mt-12">
        <p class="uppercase font-semibold text-lg">
            update your password
        </p>
    
        <p class="text-2xl font-medium">
            X
        </p>
    </div>
    
    <div class="relative mx-auto mt-8 w-9/12">
        <label for="name" class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-semibold text-gray-900">
            New Password
        </label>
        <input 
            type="password" 
            name="password" 
            id="password" 
            class="block w-full rounded-md border-0 py-4 text-gray-900 shadow-sm  ring-inset
                placeholder:text-gray-400 ring-1 ring-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
            placeholder="Text Input">
    </div>
    
    <div class="relative mx-auto mt-8 w-9/12">
        <label for="name" class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-semibold text-gray-900">
            Confirm Password
        </label>
        <input 
            type="password" 
            name="password" 
            id="password" 
            class="block w-full rounded-md border-0 py-4 text-gray-900 shadow-sm ring-inset
                placeholder:text-gray-400 ring-1 ring-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" 
            placeholder="Text Input">
    </div>
    
    
    <div class="bg-gray-100 mt-12 px-16 font-light space-y-2 py-4 pb-12 shadow-md">
        
        <p class="font-semibold pb-4 pt-8">
            Password Requirements:
        </p>
        <p class="">
            Minimum <span class="font-semibold">8</span> characters
        </p>
        <p class="">
            Minimum <span class="font-semibold">1</span> letter
        </p>
        <p class="">
            Minimum <span class="font-semibold">1</span> number
        </p>
        <p class="">
            Mew passwords must match
        </p>
    </div>

    <div class="flex justify-center mt-6">
        <button class="rounded-full bg-gray-400 opacity-40 py-4 w-9/12 shadow-md">
            Submit
        </button>
    </div>


</div>
