<div class="px-8">
    <p class="uppercase text-lg mt-12  font-semibold">
        Quest 1
    </p>
    <p class="text-sm mt-3">
        Challenge 1 Details
    </p>
    <div class="flex justify-between mt-2">
        <div class="bg-gray-500 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>
        <div class="bg-gray-500 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>

        <div class="bg-gray-200 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>

        <div class="bg-gray-200 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
    </div>
    <p class="text-right text-sm mt-4">
        Scores & More >
    </p>

    <p class="uppercase text-lg   font-semibold">
        Quest 2
    </p>
    <p class="text-sm mt-3">
        Challenge 2 Details
    </p>
    <div class="flex justify-between mt-2">
        <div class="bg-gray-500 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>
        <div class="bg-gray-500 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>

        <div class="bg-gray-200 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>

        <div class="bg-gray-200 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
    </div>
    <p class="text-right text-sm mt-4">
        Scores & More >
    </p>

    <p class="uppercase text-lg   font-semibold">
        Quest 3
    </p>
    <p class="text-sm mt-3">
        Challenge 3 Details
    </p>
    <div class="flex justify-between mt-2">
        <div class="bg-gray-500 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>
        <div class="bg-gray-500 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>

        <div class="bg-gray-200 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
        <div class="my-auto w-4 border-2 border-gray-300"></div>

        <div class="bg-gray-200 w-fit rounded-full">
            <img class="p-4 w-16" src="/assets/images/ImgPlaceholder.svg" />
        </div>
    </div>
    <p class="text-right text-sm mt-4">
        Scores & More >
    </p>

</div>
