

<div class="bg-gray-100 flex justify-between">
    <div class="flex py-4 ml-4">
        <div class="bg-gray-400 w-fit rounded-full">
            <img class="w-14 h-14 p-3" src="/assets/images/ImgPlaceholder.svg" />
        </div>
        <p class="my-auto uppercase text-lg font-semibold ml-4">
            page title
        </p>
    </div>

    <div class="flex w-28 my-auto mr-4 justify-between">
        <div class="h-12 w-12 bg-gray-300 rounded-full"></div>
        <div class="h-12 w-12 bg-gray-300 rounded-full"></div>
    </div>
</div>

<div class="mx-auto mt-12 border-2 border-gray-800 w-72 h-72 rounded-lg"></div>

<div class="flex w-fit mt-10 mx-auto ring-1 ring-gray-600 rounded-full p-1">
    <div class="h-12 w-12 bg-gray-400 rounded-full"></div> 
    
    <p class="pt-3 text-gray-900 px-4">Scan QR Code</p>
</div>

<div class="w-9/12 mx-auto mt-8 space-y-6">
    <div class="ring-1 bg-gray-300 ring-gray-600 opacity-40 shadow-md text-center py-3 rounded-full">
        Website 1
    </div>

    <div class="ring-1 bg-gray-300 ring-gray-600 shadow-md text-center py-3 rounded-full">
        Website 1
    </div>

    <div class="ring-1 bg-gray-300 ring-gray-600 shadow-md text-center py-3 rounded-full">
        Website 1
    </div>
</div>

<!-- Badges section -->
<div class="grid grid-cols-3 gap-4 w-10/12 mx-auto mt-12 mb-10">
    <div class="flex flex-col items-center">
        <div class="relative shadow-2xl w-24 h-24 flex items-center justify-center rounded-full bg-gray-600 ring-2 ring-white">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-6 h-6 bg-white blur-md rounded-full"></div>
            </div>
            <div class="text-center w-full text-white z-30">
                Icon
            </div>
        </div>
        <p class="text-center pt-1 w-full">
            My Quest
        </p>
    </div>

    <div class="flex flex-col items-center">
        <div class="relative shadow-2xl w-24 h-24 flex items-center justify-center rounded-full bg-gray-600 ring-2 ring-white">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-6 h-6 bg-white blur-md rounded-full"></div>
            </div>
            <div class="text-center w-full text-white z-30">
                Icon
            </div>
        </div>
        <p class="text-center pt-1 w-full">
            My Badges
        </p>
    </div>

    <div class="flex flex-col items-center">
        <div class="relative shadow-2xl w-24 h-24 flex items-center justify-center rounded-full bg-gray-600 ring-2 ring-white">
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="w-6 h-6 bg-white blur-md rounded-full"></div>
            </div>
            <div class="text-center w-full text-white z-30">
                Icon
            </div>
        </div>
        <p class="text-center pt-1 w-full">
            My Rewards
        </p>
    </div>
</div>
