<div class="theme-container">
	<label for="theme-options">THEME PICKER</label>
	<div class="theme-options">
		<select name="theme-options" id="themeoptions" aria-label="ThemeOptions">
			<option value="protoGrays">Proto Grays</option>
			<option value="pathWRQ">PathWRQ</option>
			<option value="nyAutoshow">NY Int Autoshow</option>
			<option value="dragonCon">DragonCon</option>
		</select>
	</div>
	<div class="test-switcher" id="proto-grays" *ngIf="theme === 'protoGrays'">
		<div class="color-block color-one"></div>
		<div class="color-block color-two"></div>
		<div class="color-block color-three"></div>
		<div class="color-block color-four"></div>
		<div class="color-block color-five"></div>
		<div class="color-block color-six"></div>
		<div class="color-block color-seven"></div>
		<div class="color-block color-eight"></div>
	</div>
	<div class="test-switcher" id="patchwrq" *ngIf="theme === 'pathWRQ'">
		<div class="color-block color-one"></div>
		<div class="color-block color-two"></div>
		<div class="color-block color-three"></div>
		<div class="color-block color-four"></div>
		<div class="color-block color-five"></div>
		<div class="color-block color-six"></div>
		<div class="color-block color-seven"></div>
		<div class="color-block color-eight"></div>
	</div>
	<div class="test-switcher" id="ny-autoshow" *ngIf="theme === 'nyAutoshow'">
		<div class="color-block color-one"></div>
		<div class="color-block color-two"></div>
		<div class="color-block color-three"></div>
		<div class="color-block color-four"></div>
		<div class="color-block color-five"></div>
		<div class="color-block color-six"></div>
		<div class="color-block color-seven"></div>
		<div class="color-block color-eight"></div>
	</div>
	<div class="test-switcher" id="dragoncon" *ngIf="theme === 'dragonCon'">
		<div class="color-block color-one"></div>
		<div class="color-block color-two"></div>
		<div class="color-block color-three"></div>
		<div class="color-block color-four"></div>
		<div class="color-block color-five"></div>
		<div class="color-block color-six"></div>
		<div class="color-block color-seven"></div>
		<div class="color-block color-eight"></div>
	</div>
</div>